.upperright {
    width: 50%;
    padding: 12px 0;
}

.justify-center {
    justify-content: center;
}

.section1 {
    max-height: 100vh;
}

.section1 h1 {
    font-size: 2.4rem;
}

.section2 {
    padding-left: 63px;
    padding-right: 63px;
}

.section2 p {
    padding: 0 8vw;
    text-align: center;
}

.section2 h1 {
    font-size: 3 rem;
}

.flex-col {
    flex-direction: column;
}

.my-1 {
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2 {
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-1 {
    padding-left: 13px;
    padding-right: 13px;

}