@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/* font-family: 'Source Sans Pro', sans-serif; */
* {
    margin: 0;
    padding: 0;
}

.min-screen {

    min-height: 100vh;
}

.bg-red {
    background-color: red;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;

}

.container {
    max-width: 80vw;
    font-family: 'Source Sans Pro', sans-serif;
}

.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.navbar li {
    list-style: none;
    margin: 0 12px;
}

.navbar {
    display: flex;
    height: 67px;
    font-family: 'Source Sans Pro', sans-serif;
}

.font-bold {
    font-weight: bolder;
}

.upperleft {
    width: 50%;
    height: 50vh;
}

